<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .Frame27 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    </style>
</head>
<body>
<footer style="align-content: center">
    <div class="Frame27" style="width: 344px; height: 69px; padding-top: 12px; padding-bottom: 12px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div class="Frame28" style="width: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="IconNavHome" style="width: 24px; height: 24px; position: relative">
                <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #B7B7B7"></div>
            </div>
            <div id="home" class="Text" style="color: #777777; font-size: 11px; font-family: SF Pro; font-weight: 400; line-height: 13px; word-wrap: break-word">홈</div>
        </div>
        <div class="Frame29" style="width: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="IconNavBanknote" style="width: 24px; height: 24px; position: relative">
                <img class="Exclude" style="width: 24px; height: 22.17px; left: 0px; top: 0.82px; position: absolute" src="https://via.placeholder.com/24x22" />
                <div class="Group" style="width: 12.48px; height: 10.40px; left: 5.60px; top: 8.80px; position: absolute">
                    <div class="Vector" style="width: 12.48px; height: 10.40px; left: 0px; top: 0px; position: absolute; opacity: 0; background: black"></div>
                    <div class="Vector" style="width: 12.48px; height: 10.25px; left: 0px; top: 0px; position: absolute; background: black; border: 0.50px black solid"></div>
                </div>
            </div>
            <div id="finni" class="Text" style="color: black; font-size: 11px; font-family: SF Pro; font-weight: 590; line-height: 13px; word-wrap: break-word">용돈노트</div>
        </div>
        <div class="Frame30" style="width: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="IconNavSave" style="width: 24px; height: 24px; position: relative">
                <div class="Rectangle4" style="width: 24px; height: 1.60px; left: 0px; top: 20px; position: absolute; background: #B7B7B7; border-radius: 999px"></div>
                <div class="Rectangle3" style="width: 22.40px; height: 19.20px; left: 0.80px; top: 18.80px; position: absolute; background: white"></div>
                <div class="Group1000004296" style="width: 22.40px; height: 22.40px; left: 0.80px; top: 0.80px; position: absolute">
                    <div class="Ellipse339" style="width: 22.40px; height: 22.40px; left: 0px; top: 0px; position: absolute; border-radius: 9999px; border: 2px #B7B7B7 solid"></div>
                    <div class="Group" style="width: 11px; height: 9.16px; left: 5.70px; top: 7.13px; position: absolute">
                        <div class="Vector" style="width: 11px; height: 9.16px; left: 0px; top: 0px; position: absolute; opacity: 0; background: #B7B7B7"></div>
                        <div class="Vector" style="width: 11px; height: 9.03px; left: 0px; top: 0px; position: absolute; background: #B7B7B7; border: 0.50px #B7B7B7 solid"></div>
                    </div>
                </div>
            </div>
            <div id="piggy" class="Text" style="color: #777777; font-size: 11px; font-family: SF Pro; font-weight: 400; line-height: 13px; word-wrap: break-word">저금통</div>
        </div>
        <div class="Frame31" style="width: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="IconNavSchool" style="width: 24px; height: 24px; padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: inline-flex">
                <div class="Group1000004297" style="width: 24px; height: 20px; position: relative">
                    <img class="Subtract" style="width: 24px; height: 18px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/24x18" />
                    <div class="Rectangle7" style="width: 8px; height: 2px; left: 8px; top: 18px; position: absolute; background: #B7B7B7; border-top-left-radius: 1px; border-top-right-radius: 1px"></div>
                    <div class="Vector" style="width: 6.53px; height: 7.29px; left: 9px; top: 5.50px; position: absolute; background: #B7B7B7"></div>
                </div>
            </div>
            <div id="article" class="Text" style="color: #777777; font-size: 11px; font-family: SF Pro; font-weight: 400; line-height: 13px; word-wrap: break-word">경제교실</div>
        </div>
        <div class="Frame32" style="width: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="IconNavMy" style="width: 24px; height: 24px; position: relative">
                <div class="Ellipse340" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; border-radius: 9999px; border: 1.60px #B7B7B7 solid"></div>
                <div class="Ellipse341" style="width: 8px; height: 8px; left: 8px; top: 4.80px; position: absolute; background: #B7B7B7; border-radius: 9999px"></div>
                <div class="Ellipse343" style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
                <div class="Ellipse342" style="width: 19.20px; height: 19.20px; left: 2.40px; top: 14.40px; position: absolute; background: #B7B7B7; border-radius: 9999px"></div>
            </div>
            <div id="myhome" class="Text" style="color: #777777; font-size: 11px; font-family: SF Pro; font-weight: 400; line-height: 13px; word-wrap: break-word">MY</div>
        </div>
        <br>
        <div id="Frame32">
            Finni © <script>document.write(new Date().getFullYear())</script> All right reserved.
        </div>
    </div>

</footer>
</body>
</html>