<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .BarTop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
</style>
<body>
<header>
    <div class="BarTop" style="width: 360px; height: 56px; position: relative; background: white">
        <div class="Frame14" style="width: 36px; height: 36px; left: 308px; top: 10px; position: absolute; background: #F2F0FE; border-radius: 999px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 36px; height: 36px" src="https://via.placeholder.com/36x36" />
        </div>
        <div class="Logo" style="width: 101px; height: 26px; left: 130px; top: 18px; position: absolute; justify-content: center; align-items: flex-start; gap: 1.79px; display: inline-flex">
            <div class="Vector" style="width: 19.14px; height: 25.84px; background: #5E4EF4"></div>
            <div class="Group1000004294" style="width: 10.36px; height: 25.44px; position: relative">
                <div class="Vector" style="width: 10.36px; height: 16.10px; left: 0px; top: 9.34px; position: absolute; background: #5E4EF4"></div>
                <div class="O" style="width: 9.97px; height: 8.05px; left: 0.05px; top: 0px; position: absolute; background: #5E4EF4"></div>
            </div>
            <div class="Vector" style="width: 25.46px; height: 25.81px; background: #5E4EF4"></div>
            <div class="Vector" style="width: 25.46px; height: 25.81px; background: #5E4EF4"></div>
            <div class="Group1000004293" style="width: 10.36px; height: 25.44px; position: relative">
                <div class="Vector" style="width: 10.36px; height: 16.10px; left: 0px; top: 9.34px; position: absolute; background: #5E4EF4"></div>
                <div class="O" style="width: 9.97px; height: 8.05px; left: 0.05px; top: 0px; position: absolute; background: #5E4EF4"></div>
            </div>
        </div>
    </div>
</header>
</body>
</html>