<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <h1>myPage</h1>
    <h4>logo</h4>

    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped" th:object="${myPage}">
            <thead>
            <tr>
                <th>닉네임</th> <th>프로필 사진</th> <th>나이</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${myPage.name}"></td>
                <td th:text="${myPage.profile}"></td>
                <td th:text="${myPage.age}"></td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-lg btn-secondary" th:href="@{/members/mypage/updateMemberForm/{id}(id=${myPage.memberId})}">내 정보 수정</a>
            <a class="btnbtn-lgbtn-secondary" th:href="@{/fin/createFin/{id}(id=${myPage.memberId})}">용돈 정보</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>
